##############################################
#  GENERAL SETTINGS
##############################################

# Turn on debug? (1/0, true/false, yes/no)
DEBUG=0
SECRET_KEY=replace-with-a-long-random-secret
ADMIN_URL=secure-admin-path/
SECURE_SSL_REDIRECT=1
SECURE_HSTS_SECONDS=31536000

# Allowed hosts (comma-separated, no spaces required)
# Example: ALLOWED_HOSTS=example.com,api.example.com,192.168.1.10
ALLOWED_HOSTS=

# CORS allowed origins (comma-separated)
# Example: CORS_ALLOWED_ORIGINS=https://example.com,http://localhost:3000
CORS_ALLOWED_ORIGINS=

##############################################
#  DATABASE CONFIGURATION
##############################################

# Choose database: "sqlite", "postgres" or "mysql"
# DB_ENGINE=postgres
DB_ENGINE=sqlite
SQLITE_NAME=db.sqlite3

######## PostgreSQL (when DB_ENGINE=postgres) ########

POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=db
POSTGRES_PORT=5432

######## MariaDB/MySQL (when DB_ENGINE=mysql) ########

# MYSQL_DATABASE=appdb
# MYSQL_USER=appuser
# MYSQL_PASSWORD=supersecret
# MYSQL_HOST=db
# MYSQL_PORT=3306

# Optional: use MySQL/MariaDB .cnf file (empty = disabled)
# Example: MYSQL_CNF_PATH=./db.cnf
#MYSQL_CNF_PATH=

##############################################
#  STATIC & MEDIA URL OVERRIDE (OPTIONAL)
##############################################

STATIC_URL=/static/
MEDIA_URL=/media/


##############################################
#  GUNICORN SETTINGS (OPTIONAL)
##############################################

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
